
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8"
  <body bgcolor="#b2beb5">



      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <div class="form">
    

      <div class="tab-content">
        <div id="signup">
          <h2>
						<center>
							<p style="font-family:verdana">REGISTER</p>
						</h2>

          <form action="/" method="post">

          <center>
						<div class="top-row">
            <div class="field-wrap">
              <label>
              	Name<span class="req">:</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
					</center> <br>

					<center>
            <div class="field-wrap">
              <label>
                Email Address<span class="req">:</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
				</center> <br>

				<center>
          <div class="field-wrap">
            <label>
              Password<span class="req">:</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
				</center> <br>

				<center>
          <div class="field-wrap">
            <label>
              Confirm Password<span class="req">:</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
				</center> <br>

				<center>
          <button type="submit" class="button button-block"/>SUBMIT</button>
					</center>

          </form>

        </div>

</body>
</html>
